html, body {
  height: 100%;
  width: 100%;
}
.current{
  display:flex;justify-content: space-between; align-items:center; border: ; background-color: skyblue;
}
.container{
  display: flex; align-items: center;justify-content: center;
  background-color: greenyellow;
  
}
.click{
  background-color: gray;
}
.click:hover{
  color: red;
}
img{height:50%;
    width:70%
  
}
label{
  display: block;
  padding-top: 10px;
}
input, textarea{
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: whitesmoke;
  text-decoration-color: rgb(red, green, blue);
  border: 1px solid green;
  color: navy;
}
footer{text-align: center;
       background-color: grey;
       color: yellow;
       height: 30px;
       font-size: 30px;
  
}
fieldset{
  border-radius: 5px;
}
section{
  min-height: 550px;
}
#about{
  background-color: purple;
  text-align: center;
  color: grey;
}
#services{
  background-color: deepskyblue;
  margin-top: 10px;
  align-content: center;
  align-items: center;
  text-align: center;
}
.submit{
  display: block;
  width: 20%;
  margin: 1em;
  height: 2em;
  font-size: 1.1rem;
  background-color: greenyellow;
  border-color: green;
  min-width: 50%;
  border-radius: 9px;
  text-align: center;
}
.contact{
  text-align: center;
}
.submit:hover{
  color: red;
}
.projects{
          margin: 10px auto;
          text-align: center;
          font-size: 2em;
          padding-top: 10px;
          border: 2px;
          background-color: aquamarine;
  
}
.current:hover{
  color: red;
}
.projects-header{
  color: cornflowerblue;
}
ul{
  margin: 0;
  padding: 0;
}
.box-item{
  width: 40%;
  display: inline-block;
  margin: auto;
}
.box{
  display: flex;
  gap: 50px;
  align-content: center;
  align-items: center;
}
.HSP{
  padding: 40px;
  text-align: center;
  font-weight: bolder;
  font-size: 1em;
  background-color: peachpuff;
}